[Desktop Entry]
Type=Application
Name=power-ranger
Comment=Launches the power-ranger file manager
Icon=utilities-terminal
Terminal=true
Exec=power-ranger
Categories=ConsoleOnly;System;FileTools;FileManager
MimeType=inode/directory;
